@use '../../styles/mixins';

.buttons {
  margin-bottom: 64px;
}
.buttonsTitle {
  font-weight: 500;
  font-size: clamp(20px, 4vw, 24px);
  margin-bottom: 76px;
}
.buttonsGrid {
  @include mixins.sectionUiGrid;
  column-gap: 164px;
  justify-content: flex-start;
}
.buttonsItem {
  padding: 16px 32px;
  color: #ffffff;
  border-radius: 32px;
  &:nth-child(2) {
    background: rgba(62, 41, 227, 0.7);
    background: linear-gradient(
      45deg,
      rgba(62, 41, 227, 0.7),
      rgba(222, 128, 237, 0.7)
    );
  }
  &:nth-child(3) {
    background: linear-gradient(
      45deg,
      rgba(62, 41, 227, 1),
      rgba(222, 128, 237, 1)
    );
  }
  &:nth-child(4) {
    background-color: #cbcbcc;
  }
}
.buttonsItemInteractive {
  background: linear-gradient(
    45deg,
    rgba(221, 128, 237, 0.7),
    rgba(64, 41, 226, 0.7)
  );
  transition: background 0.3s ease;

  &:hover {
    background: linear-gradient(
      45deg,
      rgba(62, 41, 227, 0.7),
      rgba(222, 128, 237, 0.7)
    );
    cursor:
      url('../../assets/images/cursor.svg'),
      url('../../assets/images/cursor.png'), auto;
  }
}
