@use './variables';

@font-face {
  font-family: variables.$primary-font-family;
  src: url('../assets/fonts/Graphik-Regular-Web.woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: variables.$primary-font-family;
  src: url('../assets/fonts/GraphikLCG-Medium.woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: variables.$primary-font-family;
  src: url('../assets/fonts/GraphikLCG-Regular.woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: variables.$primary-font-family;
  src: url('../assets/fonts/Graphik-Bold-Web.woff2');

  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: variables.$primary-font-family;
  src: url('../assets/fonts/Graphik-RegularItalic-Web.woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: variables.$primary-font-family;
  src: url('../assets/fonts/Graphik-Black-Web.woff2');
  font-weight: 900;
  font-style: normal;
}
body {
  font-family: variables.$primary-font-family;
  font-size: variables.$primary-font-size;
  color: variables.$primary-color;
  overflow-x: hidden;
}
