@mixin grid($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: 735px) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (min-width: 736px) and (max-width: 1199px) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

@mixin sectionUiGrid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 32px;
  align-self: flex-end;

  @media (max-width: 1140px) {
    grid-template-columns: repeat(2, auto);
  }
  @media (max-width: 480px) {
    grid-template-columns: repeat(1, auto);
  }
}
