$gap-desktop: 32px;
$gap-tablet: 32px;
$gap-mobile: 24px;
$primary-color: #1b1b1b;
$error-text-color: #e80f3b;
$primary-font-family: 'Graphik';
// $bp-mobile: 576px;
// $bp-tablet: 768px;
// $bp-desktop: 992px;
