@use './reset';
@use './variables';
@use './base';
@use './mixins';

#container {
  padding: 32px 64px 48px 64px;
  margin: 0 auto;
  display: block;

  @media (max-width: 768px) {
    padding: 22px 32px 38px 32px;
  }
}
#sidebar {
  position: fixed;
  margin-top: 216px;
  @media (max-width: 768px) {
    position: static;
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
#main {
  margin-left: 312px;
  margin-top: 48px;
  max-width: 904px;
  @media (max-width: 925px) {
    margin-left: 170px;
  }
  @media (max-width: 768px) {
    margin-left: 0px;
  }
}
#menu {
  padding: 8px 0 8px 8px;
  margin: 0 auto;
  display: none;
  background-image: url('../assets/images/bgMenu.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
