@use './reset';
@use './variables';
@use './base';
@use './mixins';

#container {
  padding: 32px 64px 48px 64px;
  margin: 0 auto;
  display: block;

  @media (max-width: 768px) {
    padding: 22px 32px 38px 32px;
  }
}
#sidebar {
  position: fixed;
  margin-top: 216px;
}
#main {
  margin-left: 312px;
  margin-top: 48px;

  @media (max-width: 768px) {
    margin-left: 212px;
  }
  @media (max-width: 480px) {
    margin-left: 155px;
  }
}
// #gridContainer {
//   display: grid;
//   @include mixins.adaptiveGrid(desktop) {
//     grid-template-columns: repeat(12, minmax(60px, 80px));
//     gap: variables.$gap-desktop;
//     max-width: 1312px;
//     min-width: 1072px;
//   }
//   @include mixins.adaptiveGrid(tablet) {
//     grid-template-columns: repeat(8, minmax(56px, 88px));
//     gap: variables.$gap-tablet;
//     max-width: 928px;
//     min-width: 672px;
//   }
//   @include mixins.adaptiveGrid(mobile) {
//     grid-template-columns: repeat(4, minmax(56px, 88px));
//     gap: variables.$gap-mobile;
//     max-width: 424px;
//     min-width: 296px;
//   }
// }
#menu {
  padding: 8px 0 8px 8px;
  margin: 0 auto;
  display: none;
  background-image: url('../assets/images/bgMenu.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
