@use './../../styles/variables';

.navList {
  @media (max-width: 768px) {
    display: flex;
    column-gap: 35px;
  }
  @media (max-width: 480px) {
    column-gap: 7px;
  }
}
.navItem:not(:last-child) {
  margin-bottom: 16px;
}
.navItem {
  font-weight: normal;
  color: #7d7d7d;

  & > a:hover {
    color: variables.$primary-color;
    cursor:
      url('../../assets/images/cursor.svg'),
      url('../../assets/images/cursor.png'), auto;
  }
}
