@use '../../styles/mixins';

.textFieldTitle {
  font-weight: 500;
  font-size: clamp(20px, 4vw, 24px);
  margin-bottom: 92px;
}
.textFieldGrid {
  @include mixins.sectionUiGrid;
}
.textFieldItem {
  align-self: flex-end;
}
.textFieldItem > input {
  border: none;
  outline: none;
  padding-bottom: 6px;
  border-bottom: 2px solid #aeadae;

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    color: #1b1b1b;
  }
}
// Стилизуем инпут при наведении

.hoverText {
  font-weight: 400;
  color: #7d7d7d;
  margin-bottom: 40px;
  opacity: 0;
}
.textFieldItem:hover .hoverText {
  opacity: 1;
}
.hoverState:hover {
  cursor:
    url('../../assets/images/cursor.svg'),
    url('../../assets/images/cursor.png'), auto;
  border-bottom: 2px solid #3e29e3;
}

// Стилизуем инпут при вводе
.inputText {
  font-weight: 400;
  color: #7d7d7d;
  margin-bottom: 16px;
  opacity: 0;
}
.inputTextEmail {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  color: #7d7d7d;
  margin-bottom: 4px;
  opacity: 0;
}
.inputState {
  border-bottom: 4px solid #3e29e3 !important;
  transition: border-color 0.3s ease;
}

// Стилизуем инпут при ошибке
.errorText {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
  color: #7d7d7d;
  opacity: 0;
}
.errorTextEmail {
  font-weight: 400;
  font-size: 12px;
  color: #e80f3b;
  margin-bottom: 4px;
  opacity: 0;
}
.errorState {
  border-bottom: 4px solid #e80f3b !important;
  transition: border-color 0.3s ease;
}
.textFieldItem:last-child {
  position: relative;
}
.errorMessage {
  font-weight: 400;
  font-size: 14px;
  color: #e80f3b;
  display: none;
  position: absolute;
  bottom: -20px;
}
