@use '../../styles/mixins';
@use '../../styles/variables';

.grid img {
  max-width: 100%;
  height: auto;
}
.gridTitle {
  font-weight: bold;
  font-size: clamp(24px, 6vw, 32px);
  margin-bottom: 24px;
}
.gridDescription {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 48px;
}

.gridDeviceName {
  font-weight: 500;
  font-size: clamp(20px, 4vw, 24px);
  margin-bottom: 32px;
}
.gridDeviceName:not(:first-of-type) {
  margin-top: 64px;
}

.gridContainer {
  margin-bottom: 48px;
  display: grid;
  @include mixins.grid(desktop) {
    grid-template-columns: repeat(12, auto);
    gap: variables.$gap-desktop;
    max-width: 1312px;
    min-width: 1072px;
  }
  @include mixins.grid(tablet) {
    grid-template-columns: repeat(8, auto);
    gap: variables.$gap-tablet;
    max-width: 928px;
    min-width: 672px;
  }
  @include mixins.grid(mobile) {
    grid-template-columns: repeat(4, auto);
    gap: variables.$gap-mobile;
    max-width: 424px;
    min-width: 296px;
  }
}

.gridItemTitle {
  font-weight: 400;
  color: #7d7d7d;
  margin-bottom: 8px;
}
.gridItemDesc {
  font-weight: 400;
  font-size: clamp(20px, 4vw, 24px);
}
